{% extends 'base.html'%}

{% block contend %}
 <div class="row row-cols-1 row-cols-md-8 g-3">
                <div class="col">
                    <div class="card h-100">
                        {% if ad.image %}
    <img src="{{ ad.image.url }}" class="card-img-top" alt="...">
{% else %}
    <img src="/static/no-image.png" class="card-img-top" alt="No image">
{% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ad.title}}</h5>
                            <p class="card-text">{{ ad.description }}</p>
                        </div>

                        <div class="card-body d-flex justify-content-between" >
                            <div>
                                <a href="{% url 'update' ad.id%}"><h6 style="color:orange">Update</h6></a>
                            </div>
                            <div>
                                <a href="{% url 'delete' ad.id %}"><h6 style="color:red">Delete</h6></a>
                            </div>
                        </div>
                        <div class="card-footer">
                            <h6><small class="text-muted">Yaratilgan vaqt:{{ ad.created_at }}</small></h6>
                           <h6> <small class="text-muted">Mahsulot narxi:{{ ad.price }} so'm</small></h6>
                        </div>
                        <div class="card-body">
                            <form method="post" action="{% url 'save_comment' ad.id %}">
                                {% csrf_token %}
                                {{form.as_p}}
                                <button class="btn btn-primary">Save</button>
                            </form>
                        </div>
                        <div class="card-body">
                            {% for comment in comments %}
                               <div class="d-flex justify-content-between">
                                   <div>
                                       <p style="font-size:8px">User: {{comment.user.username}}</p>
                                       <p>{{comment.text}}</p>
                                       <p style="font-size:8px">{{comment.created}}</p>
                                       <hr>
                                   </div>
                                   <div>
                                       {% if request.user == comment.user %}
                                       <a href="{% url 'update_comment' ad.pk comment.pk %}">✍️</a>&nbsp;&nbsp;&nbsp;
                                        {% endif%}


                                       {% if request.user == comment.user or request.user.is_superuser %}
                                       <a href="{% url 'delete_comment' comment.pk%}">🗑</a>
                                       {%endif%}

                                   </div>
                               </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
{% endblock contend%}